footer{
    width              : 100%;
    display            : flex;
    justify-content    : center;
    margin-top         : 20px;
    small{
        font-size         : 0.8rem;
        color             : #999;
    }
}